# editor files
**.swp

# compiled python
**.pyc
**/__pycache__

# pytest files
**/.pytest_cache

# setup files
setup
build.sh
publish.sh
**/Dockerfile
**/.dockerignore
**.tf
**.tfvars
**/terraform

# get files
publish.sh
.git
.gitignore
