.DS_Store
node_modules/
dist/
venv/
__pycache__/
.pytest_cache/
.coverage
coverage/
site/
.mypy_cache/

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# E2E test screenshots and videos
frontend/tests/*/screenshots
frontend/tests/*/videos
frontend/tests/*/downloads
frontend/cypress/screenshots
frontend/cypress/videos
frontend/cypress/downloads

# Frontend test coverage files
instrumented/
.nyc_output
